@import '../01_variables_&_rules/header_footer';
@import '../01_variables_&_rules/rules';
@import '../01_variables_&_rules/variables';

body{

    header{

        .news-link{

            a{
                @include activeLink;
            }
        }
    }

    main{
        @include main;
        flex-direction: column;

        .news-titel-wrapper{
            @include size(100%, 20%);
            @include flex(space-around, center, row);

            h3{
                color: $mainColor;
            }

            h4{

                a{  
                    transition: ease-in-out 0.3s;
                    &:hover{
                        color: $mainColor;
                        text-shadow: 0 0 20px $mainColor;
                    }
                }
            }
        }
        // Styling für news.php
        .news-wrapper{
            @include size(100%, 80%);
            overflow: auto;

            .article{
                @include size(100%, auto);
                padding-bottom: 2rem;
                margin-bottom: 2rem;
                border-bottom: dashed white 3px;

                form{
                    @include size(100%, 100%);
                    @include flex(center, center, row);
                    flex-wrap: wrap;
                    border: none;
                    
                    .news-title-wrapper,
                    .news-date-wrapper{
                        @include size(50%, 30%);
                        padding-bottom: 2rem;
                        
                        h6{
                            color: $mainColor;
                            font-size: 3vmin;
                            margin-right: 2rem;
                        }
                    }
    
                    .news-title-wrapper{
                        @include size(70%, 30%);
                        @include flex(center, center, row);
                    }
    
                    .news-date-wrapper{
                        @include size(30%, 30%);
                        @include flex(flex-end, center, row);
                    }
        
                    .news-text{
                        @include size(80%, 70%);
                        @include flex(flex-start, center, column);
    
                        p{
                            color: white;
                            font-size: 3vmin;
                            margin-top: 1rem
                        }
                    }

                    .edit{
                        @include size(20%, 10vmin);
                        @include flex(space-around, center, row);
    
                        button,
                        a{
                            @include size(40%, 80%);
                            font-size: 3vmin;
                            cursor: pointer;
                            border: solid white 3px;
                            border-radius: 1rem;
                            background: $darkGrey;
                            transition: ease-in-out 0.3s;
                            color: $mainColor;
                            &:hover{
                                background: $mainColor;
                                border: solid black 3px;
                                color: black;
                            }
                        }

                        a{
                            @include flex(center, center, row);
                        }

                        .delete-btn{
                            color: $errorColor;
                            &:hover{
                                background: $errorColor;
                                border: solid black 3px;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
        // Styling für news_schreiben.php
        .write-wrapper{
            @include flex(center, center, row);

            .write{
                @include size(80%, 80%);
                @include flex(center, center, row);
                flex-wrap: wrap;

                .title-wrapper,
                .date-wrapper{
                    @include size(50%, 20%);
                    @include flex(center, center, row);

                    label{
                        padding-right: 3rem;
                    }
                }

                .text-wrapper{
                    @include size(100%, 60%);
                    @include flex(center, center, column);

                    label{
                        padding-bottom: 1rem
                    }
                }

                .btn-wrapper{
                    @include size(100%, 20%);
                    @include flex(center, center, row);

                    input{
                        cursor: pointer;
                        @include submitBtn;
                    }
                }
            }
        }
    }
}