@import '../01_variables_&_rules/header_footer';
@import '../01_variables_&_rules/rules';
@import '../01_variables_&_rules/variables';

body{

    header{

        .news-link{

            a{
                @include activeLink;
            }
        }
    }

    main{
        @include main;
        flex-direction: column;

        .news-titel-wrapper{
            @include size(100%, 20%);
            @include flex(space-around, center, row);

            h3{
                color: $mainColor;
            }

            h4{

                a{  
                    transition: ease-in-out 0.3s;
                    &:hover{
                        color: $mainColor;
                        text-shadow: 0 0 20px $mainColor;
                    }
                }
            }
        }
        // Styling für news.php
        .news-wrapper{
            @include size(100%, 80%);
            overflow: auto;
            // display: flex;
            // flex-direction: column-reverse;

            .article{
                @include size(100%, auto);
                @include flex(center, center, row);
                flex-wrap: wrap;
                padding-bottom: 2rem;
                margin-bottom: 2rem;
                border-bottom: dashed white 3px;

                .news-title-wrapper,
                .news-date-wrapper{
                    @include size(50%, 30%);
                    padding-bottom: 2rem;
                    
                    h6{
                        color: $mainColor;
                        font-size: 3vmin;
                    }
                }

                .news-title-wrapper{
                    @include flex(flex-end, center, row);

                    h6{
                        margin-right: 2rem;
                    }
                }

                .news-date-wrapper{
                    @include flex(flex-start, center, row);

                    h6{
                        margin-left: 2rem;
                    }
                }

                .news-text{
                    @include size(80%, 70%);
                    @include flex(center, center, column);

                    p{
                        color: white;
                        font-size: 3vmin;
                        margin-top: 1rem
                    }
                }
            }
        }
        // Styling für news_schreiben.php
        .write-wrapper{
            @include flex(center, center, row);

            .write{
                @include size(80%, 80%);
                @include flex(center, center, row);
                flex-wrap: wrap;

                .title-wrapper,
                .date-wrapper{
                    @include size(50%, 20%);
                    @include flex(center, center, row);

                    label{
                        padding-right: 3rem;
                    }
                }

                .text-wrapper{
                    @include size(100%, 60%);
                    @include flex(center, center, column);

                    label{
                        padding-bottom: 1rem
                    }
                }

                .btn-wrapper{
                    @include size(100%, 20%);
                    @include flex(center, center, row);

                    input{
                        cursor: pointer;
                        @include submitBtn;
                    }
                }
            }
        }
    }
}