@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    min-height: 100vh;
    font-family: $mainFont;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
}

h1{
    font-size: 6vmin;
    color: white;
}

h2{
    font-size: 5vmin;
}

h3{
    font-size: 4vmin;
}

h4{
    font-size: 3vmin;
}

h5{
    font-size: 2vmin;
}

h6{
    font-size: 1vmin;
}

ul{
    list-style: none;
}

li{
    color: white;
    font-size: 2vmin;
    border-left: solid 3px white;
    transition: ease-in-out 0.3s;
    &:hover{
        border-left: solid 3px $yellow
    }
}

a{  
    @include size(100%, 100%);
    @include flex(center, center, row);
    font-weight: bold;
    transition: ease-in-out 0.3s;
    text-decoration: none;
    color: white;
    cursor: pointer;
    &:hover{
        color: $yellow;
        text-shadow: 5px 5px 10px black;
    }
}