@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    min-height: 100vh;
    font-family: $mainFont;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
}

h1{
    font-size: 6vmin;
    color: white;
}

h2{
    font-size: 5vmin;
}

h3{
    font-size: 4vmin;
}

h4{
    font-size: 3vmin;
}

h5{
    font-size: 1.5vmax;
    text-align: center;
    letter-spacing: 0.2rem;
    margin: 2rem;
    color: $mainColor;
}

h6{
    font-size: 1vmin;
}

ul{
    list-style: none;
}

li{
    color: white;
    font-size: 2vmin;
    border-left: solid 3px white;
    transition: ease-in-out 0.3s;
    &:hover{
        border-left: solid 3px $mainColor
    }

    a{  
        @include size(100%, 100%);
        @include flex(center, center, row);
        font-weight: bold;
        cursor: pointer;
        &:hover{
            color: $mainColor;
        }
    }
}

.login-link{
                        
    a{

        i{
            margin-right: 1rem;
        }
    }
}

a{
    text-decoration: none;
    color: white;
    transition: ease-in-out 0.3s;
}

form{
    border: solid 3px white;
    border-radius: 1rem;
}

label{
    color: $mainColor;
    font-size: 2vmin;
}

input{
    border: none;
    border-bottom: solid 3px $mainColor;
    background: $darkGrey;
    color: $mainColor;
    font-family: $mainFont;
    text-align: center;
    font-size: 2vmin;
}

