// Variablen
$mainFont: 'Montserrat Alternates', sans-serif;

// Farben
$darkGrey: rgb(34, 31, 31);
$yellow: #C6AA1E;


// Mixins
@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin flex($justify, $align, $direction){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}