// Variablen
$mainFont: 'Montserrat Alternates', sans-serif;

// Farben


// Mixins
@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin flex($justify, $align, $direction){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}