// Variablen -------------------------------------------------------->
$mainFont: 'Montserrat Alternates', sans-serif;

// Farben ----------------------------------------------------------->
$darkGrey: rgb(34, 31, 31);
$mainColor: #278ACC;
$errorColor:  rgb(204, 27, 27);


// Mixins ----------------------------------------------------------->
@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin flex($justify, $align, $direction){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin nextPrevBtn{
    @include size(13vmin, 13vmin);
    @include flex(center, center, row);
    border-radius: 50%;
    border: solid white 3px;
    background: $darkGrey;
    color: $mainColor;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    &:hover{
        background: $mainColor;
        color: black;
        box-shadow: none;
        border: solid black 3px;
    }
    
    i{
        font-size: 10vmin;
    }

}

@mixin activeLink{
    color: $mainColor;
}

@mixin main{
    @include size(100%, 70vh);
    @include flex(center, center, row);
    background: $darkGrey;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
}

@mixin submitBtn{
    @include size(30%, 50%);
    text-transform: uppercase;
    font-weight: bold;
    border: solid 3px white;
    border-radius: 2rem;
    transition: ease-in-out 0.3s;
    background: $darkGrey;
    cursor: pointer;
    &:hover{
        background: $mainColor;
        color: black;
        border: solid 3px black;
    }
}