@import '../01_variables_&_rules/rules';
@import '../01_variables_&_rules/variables';

body{

    header{
        @include size(100%, 70vh);
        background: url(../../01_pics_&_logo/living_room_start.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        .fade{
            @include size(100%, 100%);
            background: rgba(0, 0, 0, 0.363);

            nav{
                @include size(100%, 30%);
                @include flex(flex-end, center, row);

                ul{
                    @include size(50%, 100%);
                    @include flex(space-around, center, row);

                    li{
                        @include size(100%, 100%);
                        @include flex(center, center, row);
                        border-left: solid 3px white;
                    }
                }
            }

            .titel-wrapper{
                @include size(100%, 70%);
                @include flex(center, center, row);
            }
        }
    }

    main{
        @include size(100%, 80vh);
        position: relative;
        background: linear-gradient(black, $darkGrey);
        display: flex;
        border-top: solid white 3px;
        

        .logo-wrapper{
            @include size(50%, 100%);
            @include flex(center, center, row);

            img{
                @include size(auto, 50vmin);
            }
        }

        .intro-text-wrapper{
            @include size(50%, 100%);
            @include flex(center, center, row);

            h5{
                text-align: center;
                letter-spacing: 0.2rem;
                margin: 2rem;
                color: $yellow;
            }
        }
    }

    .impressions-wrapper{
        @include size(100%, 80vh);
        background: linear-gradient($darkGrey, rgb(133, 130, 130));
        display: flex;
        flex-direction: column;

        .imp-titel-wrapper{
            @include size(100%, 30%);
            @include flex(center, center, row);

            h2{
                position: relative;
                color: $yellow;
            }
        }

        .carusell-container{
            @include size(100%, 70%);
            display: flex;

            .carusell-left, 
            .carusell-right{
                @include size(30%, 100%);
                @include flex(center, center, row);

                .right,
                .left{
                    @include size(6vmin, 6vmin);
                    @include flex(center, center, row);
                    border-radius: 50%;
                    border: solid black 3px;
                    background: $darkGrey;
                    color: $yellow;
                    box-shadow: 5px 5px 10px black;
                    cursor: pointer;
                    transition: ease-in-out 0.3s;
                    &:hover{
                        background: $yellow;
                        color: $darkGrey;
                        box-shadow: none;
                    }
                    
                    i{
                        font-size: 4vmin;
                    }
                }
            }

            .carusell-wrapper{
                @include size(40%, 100%);
                @include flex(center, center, row);

                .preview{
                    @include size(auto, 80%);
                    box-shadow: 5px 5px 20px 10px black;
                }

            }
        }
    }
}