@import '../01_variables_&_rules/rules';
@import '../01_variables_&_rules/variables';

body{

    // header------------------------------------------------------------------------------------------------>
    header{
        @include size(100%, 70vh);
        background: url(../../01_pics_&_logo/living_room_start.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        .fade{
            @include size(100%, 100%);
            background: rgba(0, 0, 0, 0.507);

            nav{
                @include size(100%, 30%);
                @include flex(flex-end, center, row);

                ul{
                    @include size(50%, 100%);
                    @include flex(center, center, row);

                    li{
                        @include size(100%, 50%);
                        @include flex(center, center, row);
                    }
                }
            }

            .titel-wrapper{
                @include size(100%, 70%);
                @include flex(center, center, row);
            }
        }
    }

    // main------------------------------------------------------------------------------------------------>
    main{
        @include size(100%, 80vh);
        position: relative;
        background: linear-gradient(black, $darkGrey);
        display: flex;
        border-top: solid white 3px;
        

        .logo-wrapper{
            @include size(50%, 100%);
            @include flex(center, center, row);

            img{
                @include size(auto, 35vmin);
            }
        }

        .intro-text-wrapper{
            @include size(50%, 100%);
            @include flex(center, center, row);

            h5{

                a{
                    animation-name: glow;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-in-out;

                    @keyframes glow {
                        0%{
                            text-shadow: none;
                            color: white;
                        }
                        50%{
                            text-shadow: 0 0 20px $mainColor;
                            color: $mainColor;
                        }
                        100%{
                            text-shadow: none;
                            color: white;
                        }
                    }
                }               
            }
        }
    }

    // Impressionen------------------------------------------------------------------------------------------------>
    .impressions-wrapper{
        @include size(100%, 80vh);
        background: linear-gradient($darkGrey, rgb(133, 130, 130));
        display: flex;
        flex-direction: column;
        border-bottom: solid 3px white;

        .imp-titel-wrapper{
            @include size(100%, 30%);
            @include flex(center, center, row);

            h2{
                position: relative;
                color: $mainColor;
            }
        }

        .carousel-container{
            @include size(100%, 70%);
            display: flex;

            #carousel-controlle-mobile{
                @include size(100%, 20%);
                @include flex(space-around, center, row);
                display: none;

                .mobile-left,
                .mobile-right{
                    @include nextPrevBtn;
                }
            }

            .carousel-left, 
            .carousel-right{
                @include size(30%, 100%);
                @include flex(center, center, row);

                .right,
                .left{
                    @include nextPrevBtn;
                }
            }

            .carousel-wrapper{
                @include size(40%, 100%);
                @include flex(center, center, row);

                .preview{
                    @include size(auto, 70%);
                    box-shadow: 5px 5px 20px 10px black;
                }

            }
        }
    }

    // footer------------------------------------------------------------------------------------------------>
    footer{
        @include size(100%, 30vh);
        display: flex;
        background: url(../../01_pics_&_logo/footer.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        .social-media-wrapper{
            @include size(20%, 100%);
            @include flex(space-around, center, row);

            a{
                font-size: 3.5vmin;
                &:hover{
                    color: $mainColor;
                }        
            }
        }

        nav{
            @include size(60%, 100%);

            ul{
                @include size(100%, 100%);
                @include flex(space-around, center, row);

                li{
                    @include size(100%, 50%);
                    @include flex(center, center, row);
                }
            }
        }

        .copyright-wrapper{
            @include size(20%, 100%);
            @include flex(center, center, row);

            i{
                color: $mainColor;
                font-size: 2.5vmin;
            }

            p{
                color: $mainColor;
                font-size: 2vmin;
                text-align: center;
            }
        }
    }

    // Media Queries------------------------------------------------------------------------------------------------>
    @media screen and (max-width: 1200px){
        
    }

    @media screen and (max-width: 992px){
        header{

            #header-nav-mobile{
                justify-content: center;

                ul{
                    @include size(100%, 100%);

                    .login-link{
                        border: none;
                    }
                }
            }
        }

        .impressions-wrapper{

            .carousel-container{
                flex-direction: column;

                .carousel-left,
                .carousel-right{
                    display: none;
                }

                #carousel-controlle-mobile{
                    display: flex;
                }

                .carousel-wrapper{
                    @include size(100%, 80%);
                }
            }
        }
    }

    @media screen and (max-width: 768px){
        main{
            flex-direction: column;

            .logo-wrapper,
            .intro-text-wrapper{
                @include size(100%, 50%);
            }
        }
    }

    @media screen and (max-width: 576px){

        footer{

            .copyright-wrapper{
                @include flex(center, center, column);
            }
        }
    }
}