@import '../01_variables_&_rules/header_footer';
@import '../01_variables_&_rules/rules';
@import '../01_variables_&_rules/variables';

body{

    header{

        .about-link{

            a{
                @include activeLink;
            }
        }
    }

    main{
        @include main;
        flex-direction: column;

        .about-titel-wrapper{
            @include size(100%, 20%);
            @include flex(center, center, row);

            h3{
                color: $mainColor;
            }
        }

        .about-wrapper{
            @include size(80%, 80%);
            @include flex(space-around, center, column);

            .pic-wrapper{
                @include size(10vmax, 10vmax);
                background: url(../../01_pics_&_logo/ich.jpg);
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 50%;
            }

            h5{
                text-align: center;
            }
        }
    }
}