@import '../01_variables_&_rules/header_footer';
@import '../01_variables_&_rules/rules';
@import '../01_variables_&_rules/variables';

body{

    header{

        .registrieren-link{

            a{
                @include activeLink;
            }
        }
    }

    main{
        @include main;

        form{
            @include size(90%, 80%);
            @include flex(center, center, row);
            flex-wrap: wrap;

            .reg-wrapper{
                @include size(25%, 16.66%);
                @include flex(center, center, column);
                margin: 0 3rem;

                .error{
                    @include size(100%, 30%);
                    @include flex(center, center, row);
                }

                .input-wrapper{
                    @include size(100%, 70%);
                    @include flex(space-between, center, row);

                    input{
                        @include size(60%, 60%);
                    }
                }
            }

            .register-titel-wrapper,
            .submit-wrapper{
                @include size(100%, 16.66%);
                @include flex(center, center, row);
            }

            .register-titel-wrapper{

                h3{
                    color: $mainColor;
                }
            }

            .agb-wrapper{

                .agb-input-wrapper{

                    input{
                        @include size(50%, 50%)
                    }
                }
            }

            .submit-wrapper{

                input{
                    @include submitBtn;
                }
            }
        }
    }

    @media screen and (max-width: 1300px){
        form{
            overflow: auto;

            #mobile-register-titel{
                @include size(100%, 10%);
            }

            #mobile-first-name,
            #mobile-last-name,
            #mobile-adresse,
            #mobile-plz,
            #mobile-city,
            #mobile-email,
            #mobile-password,
            #mobile-second-password,
            #mobile-agb,
            #mobile-submit{
                @include size(90%, 15%);
                margin: 0;
            }

            #mobile-placeholder{
                display: none;
            }
        }
    }

    @media screen and (max-width: 992px){

    }


    @media screen and (max-width: 768px){

    }

    @media screen and (max-width: 576px){
    }
}