@import '../01_variables_&_rules/rules';
@import '../01_variables_&_rules/variables';

body{
    background: black;

    header{
        @include size(100%, 20vh);
        display: flex;

        .back-to-main{
            @include size(50%, 100%);

            a{
                @include size(100%, 100%);
                @include flex(center, center, row);
                &:hover{
                    color: $yellow;
                }

                i{
                    margin-right: 1rem;
                }
            }
        }

        nav{
            @include size(50%, 100%);
            @include flex(center, center, row);

            ul{
                @include size(100%, 100%);
                @include flex(center, center, row);

                li{
                    @include size(100%, 50%);
                    @include flex(center, center, row);
                }
            }
        }
    }

}