@import '../01_variables_&_rules/rules';
@import '../01_variables_&_rules/variables';
@import '../01_variables_&_rules/header_footer';

body{
    background: $darkGrey;

    // header------------------------------------------------------------------------------------------------>
    header{

        .login-link{
            
            a{
                @include activeLink;
            }
        }
    }

    // main------------------------------------------------------------------------------------------------>
    main{
        @include main;
        position: relative;        

        form{
            @include size(80vmin, 80%);
            @include flex(center, center, column);

            .login-titel-wrapper,
            .submit-wrapper{
                @include size(100%, 20%);
                @include flex(center, center, row);

                h3{
                    color: $mainColor;
                }
            }

            .email-wrapper,
            .password-wrapper{
                @include size(70%, 30%);

                .error{
                    @include size(100%, 30%);
                    @include flex(center, center, row);
                }

                .input-wrapper{
                    @include size(100%, 70%);
                    @include flex(space-between, center, row);

                    input{
                        @include size(50%, 30%);
                    }
                }
            }

            .submit-wrapper{
                
                input{
                    @include submitBtn;
                }
            }
        }
    }
}