@import '../01_variables_&_rules/rules';
@import '../01_variables_&_rules/variables';
@import '../01_variables_&_rules/header_footer';

body{
    background: $darkGrey;

    header{

        .login-link{
            
            a{
                @include activeLink;
            }
        }
    }

    main{
        @include main;

        form{
            @include size(80vmin, 80%);

            .login-titel-wrapper,
            .submit-wrapper{
                @include size(100%, 20%);
                @include flex(center, center, row);

                h3{
                    color: $mainColor;
                }
            }

            .username-wrapper,
            .password-wrapper{
                @include size(100%, 30%);

                .error{
                    @include size(100%, 30%);
                    @include flex(center, center, row);
                }

                .input-wrapper{
                    @include size(100%, 70%);
                    @include flex(space-between, center, row);

                    label{
                        margin-left: 2rem;
                        color: $mainColor;
                        font-size: 2vmin;
                    }

                    input{
                        @include size(50%, 50%);
                        margin-right: 2rem;
                    }
                }
            }

            .submit-wrapper{
                
                input{
                    @include size(30%, 50%);
                    text-transform: uppercase;
                    font-weight: bold;
                    border: solid 3px white;
                    border-radius: 2rem;
                    transition: ease-in-out 0.3s;
                    background: $darkGrey;
                    cursor: pointer;
                    &:hover{
                        background: $mainColor;
                        color: black;
                        border: solid 3px black;
                    }
                }
            }
        }
    }
}