@import '../01_variables_&_rules/header_footer';
@import '../01_variables_&_rules/rules';
@import '../01_variables_&_rules/variables';

body{

    main{
        @include main;
        flex-direction: column;

        .agb-title-wrapper{
            @include size(100%, 20%);
            @include flex(center, center, row);

            h3{
                color: $mainColor;
            }
        }

        .agb-wrapper{
            @include size(100%, 80%);
            overflow: auto;

            p{
                color: white;
                font-size: 1.8vmin;
                padding: 1rem
            }
        }
    }

    footer{
        
        .agb-link{
            
            a{
                @include activeLink;
            }
        }
    }
}